{% extends 'layout.html' %}

{% block content %}

<h1 style="color:#FFFFFF;">Texas</h1>
<br>
<h2 style="color:#FFFFFF;">Neste site podes obter conhecimentos sobre o Texas.</h2>
<br>
<h2 style="color:#FFFFFF;font-size:160%;">Bandeira do Texas</h2>
<p style="color:#FFFFFF;font-size:160%;">A bandeira do Texas tem uma estrela. Daí a alcunha "Lone Star State".</p><center>
<img src="/static/txf.png" height="466" width="700" border="5">
</center>
<p style="color:#FFFFFF;font-size:160%;">Em 1839, a Lone Star Flag tornou-se a bandeira oficial do estado.</p>
{% endblock %}
