{% extends 'layout.html' %}

{% block content %}

<h1 style="color:#FFFFFF;font-size:160%;">Localização</h1>
<br>
<img src="/static/tx-us.png" height="600" width="923" border="3">
<p style="color:#FFFFFF;font-size:160%;">Texas é localizado nos Estados Unidos. Este é o segundo maior estado pertencente aos EUA.</p>
<p style="color:#FFFFFF;font-size:160%;">Texas faz fronteira com o México a sul e outros quatro estados nas outras direções.</p>
<p style="color:#FFFFFF;font-size:160%;">A capital é Austin.</p>
<p style="color:#FFFFFF;font-size:160%;">Texas tem também mais de 28 milhões de habitantes, mais do que o dobro de habitantes de Portugal.</p>

{% endblock %}
