{% extends 'layout.html' %}

{% block content %}

<h1 style="color:#FFFFFF;">Desporto</h1>
<br>
<h3 style="color:#FFFFFF;font-size:160%;">Futebol Americano</h3>
<img src="/static/tx-ft.jpg" height="400" width="718" border="3">
<p style="color:#FFFFFF;font-size:160%;">O futebol americano é o desporto mais popular no Texas.</p>
<p style="color:#FFFFFF;font-size:160%;">Normalmente vê-se jogos de futebol ao domingo com amigos.</p>
<br>
<h3 style="color:#FFFFFF;font-size:160%;">Baseball</h3>
<img src="/static/tx-bs.jpg" height="433" width="650" border="3">
<p style="color:#FFFFFF;font-size:160%;">Baseball também é um desporto popular. Este é considerado o desporto nacional dos EUA.</p>
<br>
<h3 style="color:#FFFFFF;font-size:160%;">Rivalidades</h3>
<br>
<p style="color:#FFFFFF;font-size:160%;">Assim como existem rivalidades no futebol, o baseball não é exceção.</p>
<p style="color:#FFFFFF;font-size:160%;">Os Rangers de Dallas e os Astros de Houston são, por exemplo, rivais.</p>
<img src="/static/tx-bs-tm.jpg" height="334" width="664" border="3">
<br>
<h3 style="color:#FFFFFF;font-size:160%;">NASCAR</h3>
<img src="/static/tx-nc.jpg" height="336" width="624" border="3">
<br>
<p style="color:#FFFFFF;font-size:160%;">NASCAR é um desporto onde carros correm uns contra os outros numa pista oval e a pessoa que termina em primeiro lugar é a vencedora.</p>
<p style="color:#FFFFFF;font-size:160%;">Esta corrida é desafiadora devido ao número de corredores e ao elevado número de voltas que se tem que percorrer antes de acabar a corrida.</p>
<br>
<h3 style="color:#FFFFFF;font-size:160%;">Rodeo</h3>
<img src="/static/tx-rd.jpg" height="350" width="437" border="3">
<br>
<p style="color:#FFFFFF;font-size:160%;">Este é um evento desportivo onde cowboys e cowgirls mostram os seus talentos a montar touros e também atirar laços a vacas.</p>

{% endblock %}
