{% extends 'layout.html' %}

{% block content %}

<h1 style="color:#FFFFFF;font-size:160%;">Cultura</h1>
<br>
<h1 style="color:#FFFFFF;font-size:160%;"><b>Símbolos do estado:</b></h1>
<br>
<ul>
    <li style="color:#FFFFFF;font-size:160%;">Árvore: Carya illinoinensis(Nogueira-pecã)</li>
    <img src="/static/tx-cult/ng.jpg" height="220" width="306" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Bebida: Dr Pepper</li>
    <img src="/static/tx-cult/dp.jpg" height="220" width="220" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Borboleta: Danaus plexippus (Borboleta-monarca)</li>
    <img src="/static/tx-cult/bm.jpg" height="220" width="293" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Alcunha: Lone Star State</li>
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Dança: Texas Two Step<br></li>
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Dinossauro: Pleurocoelus</li>
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Desportos:
        <ul>
            <li style="color:#FFFFFF;">Desporto Individual: Rodeio</li>
            <li style="color:#FFFFFF;">Desporto coletivo: Futebol Americano</li>
        </ul>
    </li>
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Flor: Lupinus texensis</li>
    <img src="/static/tx-cult/lt.jpg" height="220" width="165" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Fruta: Citrus x paradisi(Toranja)</li>
    <img src="/static/tx-cult/tor.jpg" height="220" width="329" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Pedra preciosa: Topázio azul do Texas</li>
    <img src="/static/tx-cult/tz.jpg" height="220" width="292" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Relva: Bouteloua curtipendula</li>
    <img src="/static/tx-cult/bc.jpg" height="220" width="220" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Inseto: Culicidae(mosquito)</li>
    <img src="/static/tx-cult/mq.jpg" height="220" width="246" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Lema: Friendship(Amizade)</li>
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Músicas:
        <ul>
            <li style="color:#FFFFFF;">Texas, Our Texas (Texas, Nosso Texas)</li>
            <li style="color:#FFFFFF;">Bluebonnets</li>
        </ul>
    </li>
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Pássaro: Mimus polyglottos</li>
    <img src="/static/tx-cult/mp.jpg" height="220" width="330" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Peixe: Micropterus treculii</li>
    <img src="/static/tx-cult/mt.jpg" height="220" width="393" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Pimenta: Jalapeño</li>
    <img src="/static/tx-cult/jlp.jpg" height="220" width="220" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Pimenta nativa: Capsicum annuum var. aviculare</li>
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Prato: Chili con carne</li>
    <img src="/static/tx-cult/ccc.jpg" height="220" width="330" border="3">
    <br><br>
    <li style="color:#FFFFFF;font-size:160%;">Vegetal: Allium cepa(Cebola)</li>
    <img src="/static/tx-cult/ac.jpg" height="220" width="258" border="3">
</ul>

{% endblock %}
