{% extends 'layout.html' %}

{% block content %}

<h1 style="color:#FFFFFF;font-size:160%;">Aeroespaço</h1>
<br>
<h3 style="color:#FFFFFF;font-size:160%;">NASA</h3>
<img src="/static/nl.png" height="250" width="317">
<br>
<p style="color:#FFFFFF;font-size:160%;">NASA é uma abreviação para The National Aeronauticas and Space Administration.</p>
<p style="color:#FFFFFF;font-size:160%;">É a organização oficial dos Estados Unidos responsável pela investigação e viagens espaciais.</p>
<br>
<h3 style="color:#FFFFFF;font-size:160%;">SpaceX</h3>
<img src="/static/sxl.png" height="50" width="396">
<br>
<p style="color:#FFFFFF;font-size:160%;">SpaceX desenha, fabrica e lança foguetes espaciais e aeronaves fundada em 2002.</p>
<p style="color:#FFFFFF;font-size:160%;">O principal objetivo é permitir que pessoas vivam noutros planetas.</p>
<p style="color:#FFFFFF;font-size:160%;">A SpaceX reduz o custo de lançamento reutilizando os foguetes.</p>

{% endblock %}
