{% extends 'layout.html' %}

{% block content %}

<h1 style="color:#FFFFFF;font-size:160%;">Gastronomia</h1>
<br>
<h3 style="color:#FFFFFF;font-size:160%;">BBQ</h3>
<br>
<img src="/static/tx-bbq.png" height="526" width="793" border="3">
<p style="color:#FFFFFF;font-size:160%;">A comida mais popular é o barbecue(BBQ), especialmente de carne de vaca.</p>
<p style="color:#FFFFFF;font-size:160%;">As pessoas também comem hamburgers, salsichas, galinha, bife e costelas.</p>
<br>
<img src="/static/tx-t.jpg" height="400" width="660" border="3">
<p style="color:#FFFFFF;font-size:160%;">A bebida mais popular é o chá gelado que é, basicamente, chá frio com gelo.</p>
<br>
<h3 style="color:#FFFFFF;font-size:160%;">Tex-Mex</h3>
<img src="/static/tex-mex.jpg" height="454" width="500" border="3">
<p style="color:#FFFFFF;font-size:160%;">Tex Mex é uma combinação de comida americana com comida mexicana.</p>
<ul>
    <li style="color:#FFFFFF;font-size:160%;">Fajitas</li>
    <li style="color:#FFFFFF;font-size:160%;">Tacos</li>
    <li style="color:#FFFFFF;font-size:160%;">Quesadillas</li>
    <li style="color:#FFFFFF;font-size:160%;">Nachos</li>
</ul>

{% endblock %}
