{% extends 'layout.html' %}

{% block content %}

<h1 style="color:#FFFFFF;font-size:160%;">Música</h1>
<br>
<p style="color:#FFFFFF;font-size:160%;">O estilo músical mais popular no Texas é country.</p>
<p style="color:#FFFFFF;font-size:160%;">Normalmente para tocar este estilo músical utiliza-se:</p>
<ul>
    <li style="color:#FFFFFF;font-size:160%;">Guitarra</li>
    <li style="color:#FFFFFF;font-size:160%;">Harmónica</li>
    <li style="color:#FFFFFF;font-size:160%;">Banjo</li>
    <li style="color:#FFFFFF;font-size:160%;">Guitarra de aço</li>
</ul>

{% endblock %}
