{% extends 'layout.html' %}

{% block content %}

<h1 style="color:#FFFFFF;font-size:160%;">Geografia</h1>
<br>
<p style="color:#FFFFFF;font-size:160%;">Texas tem uma geografia muito variada incluindo costa, montanhas, planicies e deserto.</p>
<p style="color:#FFFFFF;font-size:160%;">Guadalupe Peak é o ponto mais alto no Texas com 8,751 pés(2,667 metros) de altura.</p>
<img src="/static/tx-gp.jpg" height="390" width="680" border="3">
<p style="color:#FFFFFF;font-size:160%;">Rio Grande é o rio mais comprido do Texas. Tem cerca de 1,8956 milhas(3,051km) de comprimento e cerca de 1,193 milhas(1920km) deste fica no Texas. Este estende-se pela fronteira com o México.</p>
<img src="/static/tx-rg.jpg" height="523" width="960" border="3">
{% endblock %}
